* {
margin: 0;
padding: 0;
}

table {
margin: 0;
padding: 0;  
border-collapse: collapse;
}
img {
height: 245px;
width: 370px;
position: absolute;
top: 0;
left: 0;
z-index: 1;
}

.red {
background-color: red;
height: 35px;
width: 864.5px;
}

.white {
background-color:white;
height: 35px;
width: 864.5px;
}


.Return {
font-size: 50px;
background-color: rgb(9, 229, 204);
margin-left: 40px;
margin-top: 40px;
}

.Return:hover {
background-color: rgb(251, 119, 141);
}