* {
margin: 0;
padding: 0;
}

table {
margin: 0;
padding: 0;  
border-collapse: collapse;
}
img {
height: 245px;
width: 370px;
position: absolute;
top: 0;
left: 0;
z-index: 1;
}

.red {
background-color: red;
height: 35px;
width: 864.5px;
}

.white {
background-color:white;
height: 35px;
width: 864.5px;
}