* {
margin: 0;
padding: 0;
}
.mega-board {
  height: 725px;
  width: 710px;
  border-style: solid;
  margin: auto;
}

.board {
  border-style: solid;
  border-color: white;
  width: 705px;
  margin: auto;
}
.row {
  display: flex;
  width: 700px;
  
}
.row2 {
  display: flex;
  align-items: flex-end;
  width: 700px;
}
.box {
  width: 100px;
  height: 100px;
}

.board--box__white {
  background-color: white;
}

.board--box__black {
  background-color: black;
}

@media screen and (max-width: 768px) {
.box {
 width: 40px;
 height: 40px;
}
.board {
width: 320px;
height: 320px;
margin: auto;
}

.mega-board {
  height: 325px;
  width: 325px;
  border-style: solid;
  margin: auto;
}

}
  